.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
form {
  width: 300px;
}
.form-group {
  margin-bottom: 20px;
}
.form-control {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}
label {
  font-size: 18px;
  color: blue;
}
 button[type="button"] {
  padding: 10px 20px;
  border-radius: 5px;
/*     background-color: lightblue;
  color: white; */
  border: none;
}
p {
  color: blue;
  text-align:center
}
ui-card-shadow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center
}
p-float-label {
  font-size: 50px;
}

button.eye {
  right: 740px;
  top: 35%;
  transform: translateY(-45%);
  height: 40px;
  width: 45px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
}
 h1 {
  font-size: 36px;
  color: blue;
  margin-top: 54px;
}

i.material-icons {
  font-size: 20px;
  margin-right: 10px;
}
