<div class="direction">
  <button mat-button class="logoff-button "  (click)="onLogoff()">Logoff</button>
</div>
<div>
  <nav>
    <ul>
      <li><a routerLink="/categorias">Categoria</a></li>
      <li><a routerLink="/clientes">Cliente</a></li>
      <li><a routerLink="/fabricantes">Fabricante</a></li>
      <li><a routerLink="/fornecedores">Fornecedor</a></li>
      <li><a routerLink="/produtos">Produto</a></li>
      <li><a routerLink="/vendas">Venda</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>

