<div class="direction">
  <button mat-button class="logoff-button "  (click)="onLogoff()">LOGOFF</button>
  <button mat-button class="home-button "  (click)="onHome()">HOME</button>
</div>
<div class="form">
  <!-- Formulário para criar uma nova cliente -->
  <h2>Criar Novo Cliente</h2>
  <form (submit)="criarNovaCliente()">
    <label>
      Nome:
      <input type="text" [(ngModel)]="novocliente.nome" name="nome" required>
    </label>
    <label>
      Rua:
      <input type="text" [(ngModel)]="novocliente.endereco.rua" name="rua" required>
    </label>
    <label>
      Numero:
      <input type="number" [(ngModel)]="novocliente.endereco.numero" name="numero" required>
    </label>
    <label>
      Bairro:
      <input type="text" [(ngModel)]="novocliente.endereco.bairro" name="bairro" required>
    </label>
    <label>
      CEP:
      <input type="text" [(ngModel)]="novocliente.endereco.cep" name="cep" required>
    </label>

    <button type="submit">Criar Cliente</button>
  </form>

  <hr>

  <!-- Lista de clientes -->
  <h2>Lista de Clientes</h2>
  <ul>
    <li *ngFor="let cliente of clientes">
      {{ cliente.nome }}
      <button (click)="detalharCliente(cliente.id)">Detalhar</button>
      <button (click)="editarCliente(cliente)">Editar</button>
      <button (click)="excluirCliente(cliente.id)">Excluir</button>
      <!-- Adicione botões ou links para detalhar ou excluir clientes -->
    </li>
  </ul>
  <!-- Formulário para editar uma cliente -->
<div *ngIf="clienteDetalhado && clienteEditando">
  <h2>Editar Cliente</h2>
  <form (submit)="atualizarCliente()">
    <input type="hidden" [(ngModel)]="clienteDetalhado.id" name="id">
    <label>
      Nome:
      <input type="text" [(ngModel)]="clienteDetalhado.nome" name="nome" required>
    </label>
    <label>
      Rua:
      <input type="text" [(ngModel)]="clienteDetalhado.endereco.rua" name="rua" required>
    </label>
    <label>
      Numero:
      <input type="number" [(ngModel)]="clienteDetalhado.endereco.numero" name="numero" required>
    </label>
    <label>
      Bairro:
      <input type="text" [(ngModel)]="clienteDetalhado.endereco.bairro" name="bairro" required>
    </label>
    <label>
      CEP:
      <input type="text" [(ngModel)]="clienteDetalhado.endereco.cep" name="cep" required>
    </label>
    <!-- Adicione outros campos necessários para editar uma cliente -->

    <button type="submit">Salvar Alterações</button>
    <button (click)="cancelarEdicao()">Cancelar</button>
  </form>
</div>

  <!-- Detalhes da cliente selecionada -->
  <div *ngIf="clienteDetalhado && !clienteEditando">
    <h2>Detalhes da Cliente</h2>
    <p>ID: {{ clienteDetalhado.id }}</p>
    <p>Nome: {{ clienteDetalhado.nome }}</p>
    <p>Rua: {{ clienteDetalhado.endereco.rua }}</p>
    <p>Numero: {{ clienteDetalhado.endereco.numero }}</p>
    <p>Bairro: {{ clienteDetalhado.endereco.bairro }}</p>
    <p>CEP: {{ clienteDetalhado.endereco.cep }}</p>
    <!-- Adicione outros detalhes específicos da cliente -->
  </div>
</div>
